@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


$gradient-blue: linear-gradient(to right, #a91515, #f33333);
$gradient-yellow: linear-gradient(to right, #f5c74c, #f5c74c);
$gradient-green: linear-gradient(to right, #0db328, #3ad854);
$gradient-red: linear-gradient(to right, #a91515, #ff5666);


@mixin hover {
  body {
    @content;
  }
}

.button {
  border: 1px solid black;
  @include hover {
    border-width: 2px;
  }
}

@mixin colored-content($from, $to) {
  @debug "$from: #{$from}";
  @debug "$to: #{$to}";
  body {
    background-image: linear-gradient(to right, $from, $to);
  }
  /* Any other rules which use $color here */
}

.button-primary:hover {
  background-color: yellow;
  border-color: #f5c74c;
  @include colored-content(#f5c74c, #f5c74c);
}

.button-secondary:hover {
  background-color: green;
  border-color: #0db328;
}

.button-tertiaty:hover {
  background-color: red;
  border-color: #a91515;
}

body {
  background-image: linear-gradient(to right, #0265e7 , #31abfe);
}

body {
  padding-top: 56px;
  font-family: 'Open Sans', sans-serif;
}

.title-grey {
  color: #a0a7ac;
}

.card-rounded {
  border-radius: 1.0em;
}

.card-detail {
  width: 80%;
  margin-left: 10%;
}

.card-title {
  text-align: center;
}

.card-header {
  background-color: white
}

.card-header h1 {
  padding-top: 6%;
}

.title-small {
  font-size: 30%;
}

.button-small {
  font-size: 75%;
  margin-bottom: 7%;
  margin-top: -10%;
}

.card .nav-link {color: #f00;}
.card .nav-link:hover {color: #0f0;}

li {
  display: block;
}

li:before {
  /*Using a Bootstrap glyphicon as the bullet point*/
  content: "\e080";
  font-family: 'Open Sans', sans-serif;
  font-size: 9px;
  float: left;
  margin-top: 4px;
  margin-left: -17px;
  color: #CCCCCC;
}
