<div class="bg-grey text-grey-light">
  <footer class="footer container text-center">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4 pl-4 text-left">
          <h5><strong>SB UI Kit Pro</strong></h5>
          <p>Build better websites</p>
        </div>
        <div class="col-md-2 pl-4 text-left">
          <div class="text-uppercase-expanded mb-4"><strong>Product</strong></div>
          <ul class="list-unstyled mb-0">
              <li class="mb-2"><a href="#">Landing</a></li>
              <li class="mb-2"><a href="#">Pages</a></li>
              <li class="mb-2"><a href="#">Sections</a></li>
              <li class="mb-2"><a href="#">Documentation</a></li>
              <li><a href="#">Changelog</a></li>
          </ul>
        </div>
        <div class="col-md-2 pl-4 text-left">
          <div class="text-uppercase-expanded mb-4"><strong>Product</strong></div>
          <ul class="list-unstyled mb-0">
              <li class="mb-2"><a href="#">Landing</a></li>
              <li class="mb-2"><a href="#">Pages</a></li>
              <li class="mb-2"><a href="#">Sections</a></li>
              <li class="mb-2"><a href="#">Documentation</a></li>
              <li><a href="#">Changelog</a></li>
          </ul>
        </div>
        <div class="col-md-2 pl-4 text-left">
          <div class="text-uppercase-expanded mb-4"><strong>Product</strong></div>
          <ul class="list-unstyled mb-0">
              <li class="mb-2"><a href="#">Landing</a></li>
              <li class="mb-2"><a href="#">Pages</a></li>
              <li class="mb-2"><a href="#">Sections</a></li>
              <li class="mb-2"><a href="#">Documentation</a></li>
              <li><a href="#">Changelog</a></li>
          </ul>
        </div>
        <div class="col-md-2 pl-4 text-left">
          <div class="text-uppercase-expanded mb-4"><strong>Product</strong></div>
          <ul class="list-unstyled mb-0">
              <li class="mb-2"><a href="#">Landing</a></li>
              <li class="mb-2"><a href="#">Pages</a></li>
              <li class="mb-2"><a href="#">Sections</a></li>
              <li class="mb-2"><a href="#">Documentation</a></li>
              <li><a href="#">Changelog</a></li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="row align-items-center">
        <div class="col-md-6 text-md-left small mt-2 mb-5">Copyright © Your Website 2020</div>
        <div class="col-md-6 text-md-right small mt-2 mb-5">
          <a href="#">Privacy Policy</a>
          <a href="#">Terms &amp; Conditions</a>
        </div>
      </div>
    </div>
  </footer>
</div>
<script src="js/all.js"></script>
</body>
</html>
